USE [Car]
GO
/****** Object:  Table [dbo].[Exp]    Script Date: 13.12.2021 10:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exp](
	[F] [int] NULL,
	[C] [int] NULL
) ON [PRIMARY]
GO
